/* Extra small devices (768px and down) */
@media screen and (max-width: 768px) {
    .cardContainer {
        display: flex;
        flex-direction: column;
    }

    .card {

    }
}
/* Extra larger devices (768px and up) */
@media screen and (min-width: 768px) {
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 6rem;
        margin-left: 5rem;
        margin-right: 5rem;
        row-gap: 20px;
        column-gap: 20px;
    }

    .card {
        background-color: #333;
        border: 1px solid #333;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
        height: 200px;
    }
}

