.App {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Inter';
}

/* Extra small devices (768px and down) */
@media screen and (max-width: 768px) {
  /* for mobile web */
}
/* Extra larger devices (768px and up) */
@media screen and (min-width: 768px) {
  /* for desktop web */
  .App {
    
  }
}